// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import the css classes from the Menu Component

@import 'menu';

/**
1.Plastic・・・Yellow
2.Food scraps・・・Black
3.Glass・・・White
4.Glass with color・・・Green
5.Paper・・・Blue
6.Battery・・・Red
7.Metal Can・・・Grey
8.Textil・・・Orange
9.Cloth・・・Red
**/

/* USED BY VARIOUS PAGES **********************************/

body {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
    font-weight: 300;
    color: #333;
  }

  a {
    color: #16a085;
    word-wrap: break-word;
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
  }

  a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }

  a:before, a:after {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
  }

  .btn {
    border-radius: 0;
  }

  .btn-green {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    font-weight: 300;
  }

  .btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
    font-weight: 300;
  }

  .menu-image{
    width:20px;
  }
  /* BOTTOM MENU **********************************/
  .menu {
    background-color: lightgrey;
    position: fixed;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    z-index: 10;
    text-align: center;
  }

  .menu a {
    color:grey;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .menu a:hover {
    color:#ABBD8C;
    font-weight: 900px;
  }

  .menu a:active {
    color: grey;
  }

  .menu .menu-bar{
    padding:10px;
  }

  .menu .now{
    background-color:#E9E7F1;
  }


  /* FIRST PAGE **********************************/
  #topwrap {
    /* position:relative; */
    background-color:#ABBD8C;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding:1rem 3rem;
    background-size: 100%;
    background-size: cover;
    margin:0;
  }

  /* .top {
    position:absolute;
    top: 40%;
    left:50%;
    -webkit-transform : translateY(-50%);
    -webkit-transform : translateX(-50%);
    transform : translateY(-50%);
    transform : translateX(-50%);
  } */

  .garbageBin{
    width:150px;
    margin:4rem;
  }

  .garbageBin:hover{
    display: inline-block;
    animation: hurueru .1s  infinite;
  }

  @keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
  }

  #topwrap h1 {
    margin-top: 20vh;
    color: #407A60;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    z-index: 1;
  }

  #topwrap h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 2px;
  }

  /* bin Pop out from garbage bin(still working on)*/
  .bin1 {
    position: absolute;
    display: block;
    width:5px;
    height:auto;
    left: 40px;
    animation-duration: 5s;
    animation-delay: 0.2s;
  }

  .bin1 img{
    width:30px;
  }

  .dropBin div {
    opacity: 0;
    -ms-transform-origin: 0px 0px;
    left:50vw;
    transform-origin: 100px 100px;
    animation-name: Drop;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes Drop {
    0% {
      top:30vh;
      left:60vw;
      opacity: 0.4;
    }

    50% {
      top:40vh;
      left:50vw;
      opacity: 1;
    }

    100% {
      top:50vh;
      left:50vw;
      opacity: 0;
    }
  }
  /* MAP PAGE **********************************/
  .map-wrap {
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-size: cover;
  }

  #mapindex {
    position:fixed;
    vertical-align: middle;
    top:0;
    background-color:#ABBD8C;
    text-align: center;
    height: 7vh;
    width: 100%;
  }

  #mapindex h2 {
    color: rgb(10, 9, 9);
    font-size: 20px;
    letter-spacing: 2px;
    margin: 1rem;
  }

  /* (still working on the menu button) */
  #menuToggle {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  #menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  /* ABOUT PAGE **********************************/
  #about-wrap {
    padding: 20px;
    color: black;
    background-color:#FFF6C2;
    /* height: 100vh; */
    width: 100vw;
    background-size: 100%;
    background-size: cover;
  }

  #about-wrap h2 {
    text-align: center;
    font-weight: bolder;
  }

  #about-wrap .row{
    margin:2rem;
  }

  .explainIcon{
    width:50px;
    border:1px solid black;
    padding:0.5rem;
  }

  .col-xs-3{
    margin:0 1.5rem;
  }

  /* Contact Form *****************************/
  .contact-wrap {
    padding: 20px;
    color: black;
    background-color:#ABBD8C;
    width: 100vw;
    background-size: 100%;
    background-size: cover;
  }

  .contact-title{
    font-weight: bolder;
    text-align: center;
  }

  .contact-form label {
     color: #275362;
  }

  .icons{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:1rem;
  }

  .contact-icon{
    width:20px;
  }

  .contact-icon2{
    width:40px;
    height:40px;
    padding:0.5rem;
    border:1px solid black;
  }

  .contact-form input, .contact-form textarea {
    padding: 10px 12px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    background-color:#ECE2DD;
    border:1px black solid;
  }

  .contact-form2 input, .contact-form2 textarea {
    padding: 10px 12px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    background-color:#ABBD8C;
    border:1px black solid;
  }

  .contact-form2 textarea{
    height:60px;
  }

  #box1{
  border: 2px solid rgba(0, 0, 0, 0);
  }

  .contact-form .form-send {
    text-align: center;
  }

  .contact-form .form-send button  {
    background: #1abc9c;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }

  .contact-form .form-send button:hover {
    background: #19cdaa;
  }

  .contact-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }

  .contact-form .loading {
    display: none;
    color: #555;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin: 15px 0;
  }

  .contact-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }

  @-webkit-keyframes animate-loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .contact-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px 0;
  }

  .contact-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px 0;
  }
  /* Login form *****************************/
  #login-wrap {
    padding: 20px 10vw;
    color: black;
    background-color:#ECE2DD;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-size: cover;
  }

  #login-wrap h2 {
    text-align: center;
    font-weight: bolder;
  }

  .big-icon{
    text-align: center;
    margin:0 auto;
  }

  .big-icon .big{
    width:100px;
    height:auto;
  }

  .box{
    border:dotted black 1px;
    margin:1.5rem 0;
    padding:0.8rem;
    line-height:0.5rem;
    text-align: center;
  }

  .box-img,
  .box-text{
    display: inline-block;
    vertical-align: middle;
  }

  .box .box-img .smallIcon{
    width:20px;
    height:auto;
    padding:0;
    margin:0 10px 15px 0px;
  }
